input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.product.number-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  display: inline-flex;
}

.product.number-input,
.product.number-input * {
  box-sizing: border-box;
}

.product.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.product.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 1px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

